Question 1
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6
Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

### Question 1 Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [8]:
def is_symmetrical(number):
    if str(number) == str(number)[::-1]:
        return True
    else:
        return False
is_symmetrical(7227)

True

In [9]:
is_symmetrical(12567)

False

In [10]:
is_symmetrical(44444444)

True

In [11]:
is_symmetrical(9939)

False

In [12]:
is_symmetrical(1112111)

True

### Question 2 Given a string of numbers separated by a comma and space, return the product of the numbers.
Examples
multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [54]:
def multiply_nums(numbers):
    numbers=numbers.split(',')
    product_num = 1
    for num in numbers:
        product_num *=int(num)
    return product_num
multiply_nums("10, -2")

-20

In [55]:
multiply_nums("2,3")

6

In [56]:
multiply_nums("1, 2, 3, 4")

24

In [57]:
multiply_nums("54, 75, 453, 0")

0

### Question 3 Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [80]:
def square_digits(number):
    square_digit = " "
    for num in str(number):
        square = int(num)**2
        square_digit += str(square)
    return int(square_digit)
square_digits(9119)

811181

In [81]:
square_digits(2483)

416649

In [82]:
square_digits(3212)

9414

### Question 4 Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [97]:
def setify(lst):
    sort_num = sorted(lst)
    number = []
    for num in sort_num:
        if num not in number:
            number.append(num)
    return number
setify([1,3,3,5,5])

[1, 3, 5]

In [98]:
setify([4, 4, 4, 4])

[4]

In [99]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [100]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

### Question 5 Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes
•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
•	The mean will always be an integer.

In [123]:
def mean(number):
    num = [n for n in str(number)]
    summ=0
    for ele in num:
        summ+=int(ele)
    mean = int(summ/len(num))
    return mean  
mean(12345)

3

In [122]:
mean(666)

6

In [124]:
mean(42)

3