1.	Write a Python Program to Find LCM?
2.	Write a Python Program to Find HCF?
3.	Write a Python Program to Convert Decimal to Binary, Octal and Hexadecimal?
4.	Write a Python Program To Find ASCII value of a character?
5.	Write a Python Program to Make a Simple Calculator with 4 basic mathematical operations?

In [11]:
# 1
def lcm():
    n1 = int(input("enter a number: "))
    n2 = int(input("enter a number: "))
    if n1>n2:
        bigger = n1
    else:
        bigger = n2
         
    while True:
        if (bigger%n1 == 0) and (bigger%n2 ==0): 
            lcm = bigger
            break 
        bigger +=1
    return lcm

In [12]:
lcm()

enter a number: 16
enter a number: 26

208

In [24]:
# 2 
def hcf():
    n1 = int(input("enter a number: "))
    n2 = int(input("enter a number: "))
    
    if n1>n2:
        smaller = n2
    else:
        smaller = n1
        
    for x in range(1,smaller+1):
        if(n1%x==0) and (n2%x==0):
            hcf = x
    return hcf

In [25]:
hcf()

enter a number: 6
enter a number: 12

6

In [26]:
# 3
def convertdecimal():
    number = int(input("enter a number: "))
    print("Decimal to binary(0b):", bin(number))
    print("Decimal to octal(0o):", oct(number))
    print("Decimal to hexadecimal(0x):", hex(number))

In [27]:
convertdecimal()

enter a number: 18
Decimal to binary(0b): 0b10010
Decimal to octal(0o): 0o22
Decimal to hexadecimal(0x): 0x12

In [30]:
# 4
string = input("enter a string: ")
stringlen = print("length of string: ",len(string))
for char in string:
    ascii = ord(char)
    print(ascii)

enter a string: string to ascii
length of string:  15
115
116
114
105
110
103
32
116
111
32
97
115
99
105
105

In [33]:
# 5

def calculate():
    print("please select operation:")
    print("1.Add(+) 2.substract(-) 3.Multiply(*) 4.Divide(/)")
    operation = input("enter sign|(+,-,/,*): ")
    n1 = int(input("enter a number: "))
    n2 = int(input("enter a number: "))
    if operation == "+":
        print(n1+n2)
    elif operation == "-":
        print(n1-n2)
    elif operation == "/":
        print(n1/n2)
    elif operation == "*":
        print(n1*n2)
    else:
        print("Enter a valid operation")

In [35]:
calculate()

please select operation:
1.Add(+) 2.substract(-) 3.Multiply(*) 4.Divide(/)
enter sign|(+,-,/,*): /
enter a number: 44
enter a number: 11
4.0